.card {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px 40px;
    border-radius: 20px;
    background-color: rgb(176, 147, 204);
  }
  
  .card-text {
    font-size: 20px;
  }
  body {
    font-family: sans-serif;
  }
  .col-4 {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .list-group-item {
    background-color: rgb(233, 225, 241);
  }
  
  
  #current-location 
  {
    background: #0b4c5f;
    border: 1px solid white;
    font-size: 13px;
    position: relative;
    left: 300px;
    bottom: 175px;
  }
  ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
  }
.opens{
  display: inline;
  margin: auto;
  font-size: 16px;
}
.weather-temp img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temp strong{
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temp .units{
  position: relative;
  font-size: 16px;
  top: -34px;

}
.weather-temp .active{
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temp .active:hover{
  text-decoration: none;
}

