.card {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px 40px;
    border-radius: 40px;
    padding: 20px;

  }

  .card-text {
    font-size: 20px;
  }
  .weather-app-center{
    padding: 0;
  }
 
  .col-4 {
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .list-group-item {
    background-color: rgb(233, 225, 241);
  }
  
  
  #current-location 
  {
    background: #0b4c5f;
    border: 1px solid white;
    font-size: 13px;
    position: relative;
    left: 300px;
    bottom: 175px;
  }
  ul{
   
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
    margin: 0;
    opacity: 0.6;
  }
  #humidity{
    color:red;
  }
  #wind{
   color: red ;
  }
.opens{
   padding-top: 30px;
   padding-left: 90px;
   padding-right: 45px;
   font-style: normal;
   font-size: small;
   color: rgb(99, 96, 96);
}
.weather-temp img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temp strong{
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temp .units{
  position: relative;
  font-size: 16px;
  top: -34px;
  left: 34px;
 

}
.weather-temp .active{

  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temp .active:hover{
  text-decoration: none;
}
.weather-forecast{
  margin: top 20px;
  text-align: center;
  color: #000;

}
.weather-forecast-date{
  font-size: 20px;
  opacity: 0.6;

}
.weather-forecast-temperatures{
  font-size: 13px;
}
.weather-forecast-temperatures-min{
  opacity: 0.6;
}

.active{
  text-decoration: none;
}
#mahsa{
  color: rgb(224, 108, 108);
}
#source{
  color: rgb(224, 108, 108);
}
#netlify{
  color: rgb(224, 108, 108);
}
.weather-forecast-date{
  color: black;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 10px;
}
.weather-forecast-temperatures{
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  color: #f65282;
  font-weight: bold;
}
.weather-forecast-temperatures-min{
  margin-left: 10px;
  opacity: 0.6;
}
#description{
  font-size: larger;
  font-weight: bold;
  opacity: 0.4;
}
